body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2c3e50;
    font-family: Arial, sans-serif;
    color: white;
}

.game-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.game-area {
    display: flex;
    justify-content: center;
}

canvas {
    border: 2px solid #34495e;
    background-color: #1c1c1c;
}

.info {
    text-align: center;
}

#next-piece {
    border: 2px solid #34495e;
    background-color: #1c1c1c;
}

.controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.controls button {
    padding: 15px;
    font-size: 20px;
    background-color: #34495e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:active {
    background-color: #2c3e50;
}

/* Mobil Cihazlar için Stil */
@media (max-width: 600px) {
    .game-container {
        flex-direction: column;
        align-items: center;
    }

    .info {
        margin-top: 20px;
    }

    .controls {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .controls button {
        width: 80px;
        margin-bottom: 10px;
    }
}